body {
    min-width: 1200px;
}

// 头部
header {
    height: 74px;
    background-color: #292d84;
    color: #fff;
    z-index: 9999;
    position: relative;
}

.header {
    width: 1200px;
    height: 74px;
    margin: 0 auto;
    .menu{
        width: 74px;
        float: left;
        height: 74px;
        cursor: pointer;
        position: relative;
        i {
            display: block;
            height: 24px;
            margin-top: 13px;
            background: url("../imgs/head_icon/hamburger.png") no-repeat center;
            background-size: contain;
        }
        span {
            display: block;
            padding-top: 12px;
            font-size: 12px;
            text-align: center;
        }
        .menuList {
            display: none;
            background-color: rgba(41, 45, 132, 0.9);
            font-size: 14px;
            color: #fff;
            position: absolute;
            top: 74px;
            left: 0;
            width: 240px;
            padding: 10px 0;
            li {
                line-height: 32px;
                padding: 0 12px;
            }
            li:hover {
                background: #fff;
                color: #292d84;
            }
        }
    }
    .logo{
        float: left;
        a {
            display: block;
            line-height: 74px;
            font-size: 0;
        }
        img {
            //width: 278px;
            height: 50px;
            vertical-align: middle;
        }
    }
    .quick-menu {
        float: right;
        font-size: 12px;
        &>li {
            float: left;
            width: 74px;
            &>a {
                color: #fff;
                display: block;
                height: 60px;
                padding-top: 14px;
            }
            i{
                display: block;
                height: 24px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            span {
                display: block;
                padding-top: 10px;
                text-align: center;
            }
        }
        .account {
            position: relative;
            i{
                background-image: url("../imgs/head_icon/account.png");
            }
            .accountOperate {
                position: absolute;
                display: none;
                width: 115px;
                top: 74px;
                right: 0;
                padding: 10px 0;
                background: rgba(#292d84, 0.9);
                a {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    line-height: 32px;
                    padding: 0 10px;
                }
                li:hover {
                    a{
                        background: #fff;
                        color: #292d84;
                    }
                }
            }
            &:hover {
                .accountOperate.active {
                    display: block;
                }
            }
        }
    }
}

.content {
    width: 1200px;
    margin: 20px auto;
    min-height: 400px;
    .nav {
        width: 180px;
        border: 1px solid #E0E0E0;
        float: left;
        margin-right: 10px;
        box-shadow: 2px 2px 5px #E0E0E0;
        border-radius: 2px;
        padding: 0 10px;
        .category {
            padding: 10px 0;
            &:not(:last-child) {
                border-bottom: 1px solid #E0E0E0;
            }
        }
        .title {
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
        }
        .navList {
            font-size: 12px;
            line-height: 26px;
        }
        a {
            color: #444;
            font-size: 13px;
        }
        a:hover, a:active, a:visited {
            text-decoration: underline;
        }
    }
    .page {
        margin-left: 212px;
        border: 1px solid #E0E0E0;
        padding: 40px;
        border-radius: 4px;
    }
}

footer {
    border-top: 5px solid #292d84;
    height: 70px;
    .footer {
        width: 1200px;
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        color: #999;
    }
}