@import "reset";
@import "base";

.content {
    .page {
        margin-left: 212px;
        border: 1px solid #E0E0E0;
        padding: 40px;
        border-radius: 4px;
        .title {
            border-bottom: 1px solid #E0E0E0;
            font-size: 24px;
            line-height: 34px;
            color: #292d84;
        }
        .addProduct {
            padding-left: 100px;
            margin-right: 120px;
        }
        .input-item {
            margin: 20px 0;
            label {
                display: inline-block;
                width: 160px;
                font-size: 14px;
            }
            input, select {
                width: 230px;
                height: 30px;
                font-size: 14px;
                padding: 0 5px;
                border: 1px solid #aaa;
                option {
                    padding: 2px 5px;
                }
                &:focus {
                    border-color: #4349C5;
                    box-shadow: 0 0 10px #4349C5;
                }
            }
            select {
                width: 240px;
            }
            .tips {
                font-size: 14px;
                color: red;
                display: none;
            }
            &.error {
                input {
                    border-color: red;
                }
                .tips {
                    display: inline-block;
                }
            }
        }
        .productImages {
            position: relative;
            i {
                position: absolute;
                left: 166px;
                z-index: 9;
                line-height: 30px;
                background: #fff;
                color: #292d84;
                width: 230px;
                padding: 0 5px;
                cursor: pointer;
                text-align: center;
                border-radius: 6px;
                border: 1px solid #292d84;
            }
            input {
                cursor: pointer;
                opacity: 0;
                font-size: 0;
                filter: alpha(opacity=0);
                vertical-align: middle;
                border: none;
                padding: 0;
                position: relative;
                z-index: 10;
                width: 242px;
                &:hover {
                    &+i{
                        background: #292d84;
                        color: #fff;
                    }
                }
            }
        }
        .preview {
            font-size: 12px;
            color: #333;
        }
        .imagesPreview {
            height: 0;
            overflow: hidden;
            transition: height 300ms ease-in-out;
            .imagesList {
                width: 150px;
                height: 150px;
                float: left;
                margin: 8px;
                border: 1px solid #eee;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    .del {
                        display: block;
                    }
                }
                .del {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 2px;
                    right: 2px;
                    cursor: pointer;
                    background-image: url(../imgs/del.png);
                    background-size: contain;
                    display: none;
                    border-radius: 2px;
                    &:hover {
                        background: url(../imgs/del_hover.png) #3a80ea;
                    }
                }
            }
        }
        .submit {
            padding-left: 225px;
            margin: 20px 0;
            input[type=submit] {
                width: 120px;
                height: 40px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background: #292d84;
                color: #fff;
                &.disabled{
                    background: #DCDEE3;
                    color: #999;
                }
            }
        }
    }
}