@import "reset";
@import "base";

.content {
    width: 1200px;
    margin: 20px auto;
    min-height: 440px;
    .apply {
        padding: 20px 0 0 240px;
        margin-right: 240px;
        display: block;
        .title {
            border-bottom: 1px solid #E0E0E0;
            font-size: 24px;
            line-height: 34px;
        }
        .input-item {
            margin: 20px 0;
            label {
                display: inline-block;
                width: 120px;
                font-size: 14px;
            }
            input {
                width: 230px;
                height: 30px;
                font-size: 14px;
                padding: 0 5px;
                border: 1px solid #aaa;
                &:focus {
                    border-color: #4349C5;
                    box-shadow: 0 0 10px #4349C5;
                }
            }
            .tips {
                font-size: 14px;
                color: red;
                display: none;
            }
            &.error {
                input {
                    border-color: red;
                }
                .tips {
                    display: inline-block;
                }
            }
        }
        .idPhoto {
            position: relative;
            i {
                position: absolute;
                left: 126px;
                z-index: 9;
                line-height: 30px;
                background: #fff;
                color: #292d84;
                width: 230px;
                padding: 0 5px;
                cursor: pointer;
                text-align: center;
                border-radius: 6px;
                border: 1px solid #292d84;
            }
            input {
                cursor: pointer;
                opacity: 0;
                font-size: 0;
                filter: alpha(opacity=0);
                vertical-align: middle;
                border: none;
                padding: 0;
                position: relative;
                z-index: 10;
                width: 242px;
                &:enabled:hover {
                    &+i{
                        background: #292d84;
                        color: #fff;
                    }
                }
            }
        }
        .preview {
            font-size: 12px;
            color: #333;
        }
        .imagesPreview {
            overflow: hidden;
            transition: height 300ms ease-in-out;
            width: 300px;
            margin-left: 100px;
            text-align: center;
            font-size: 0;
            height: 0;
            img {
                vertical-align: middle;
                width: 0;
                height: 0;
            }
        }
        .submit {
            padding-left: 180px;
            margin: 20px 0;
            input[type=submit] {
                width: 120px;
                height: 40px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background: #292d84;
                color: #fff;
                &.disabled{
                    background: #DCDEE3;
                    color: #999;
                }
            }
        }
        .applying {
            color: red;
            font-size: 16px;
            line-height: 24px;
        }
    }
}