@import "reset";

body {
    padding: 100px 0 75px;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}

input.disabled {
    cursor: not-allowed !important;
}

.redStar {
    position: relative;
    &:before {
        content: "*";
        color: red;
        position: absolute;
        left: -0.8em;
    }
}

// 头部
header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #292d84;
    color: #fff;
    z-index: 9999;
    min-width: 1200px;
}

.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    .logo{
        float: left;
        a {
            display: block;
            line-height: 100px;
            font-size: 0;
        }
        img {
            width: 278px;
            vertical-align: middle;
        }
    }
    .quick-menu {
        float: right;
        font-size: 12px;
        &>li {
            float: left;
            width: 75px;
            &>a {
                color: #fff;
                display: block;
                height: 76px;
                padding-top: 24px;
            }
            i{
                display: block;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            span {
                display: block;
                padding-top: 12px;
                text-align: center;
            }
        }
        .account {
            position: relative;
            i{
                background-image: url("../imgs/head_icon/account.png");
            }
            .accountOperate {
                position: absolute;
                display: none;
                width: 115px;
                top: 100px;
                left: 0;
                padding: 10px 0;
                background: rgba(#292d84, 0.9);
                a {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    line-height: 32px;
                    padding: 0 10px;
                }
                li:hover {
                    a{
                        background: #fff;
                        color: #292d84;
                    }
                }
            }
            &:hover {
                .accountOperate.active {
                    display: block;
                }
            }
        }
    }
}

.content {
    width: 1200px;
    margin: 20px auto;
    .apply {
        padding: 50px 0 0 240px;
        margin-right: 220px;
        display: block;
        .title {
            border-bottom: 1px solid #E0E0E0;
            font-size: 24px;
            line-height: 34px;
        }
        .input-item {
            margin: 20px 0;
            label {
                display: inline-block;
                width: 120px;
                font-size: 14px;
            }
            input {
                width: 230px;
                height: 30px;
                font-size: 14px;
                padding: 0 5px;
                border: 1px solid #aaa;
            }
            .tips {
                font-size: 14px;
                color: red;
                display: none;
            }
            &.error {
                input {
                    border-color: red;
                }
                .tips {
                    display: inline-block;
                }
            }
        }
        .submit {
            padding-left: 180px;
            margin: 40px 0;
            input[type=submit] {
                width: 120px;
                height: 40px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background: #292d84;
                color: #fff;
                &.disabled{
                    background: #DCDEE3;
                    color: #999;
                }
            }
        }
        .applying {
            color: red;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

footer {
    border-top: 5px solid #292d84;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1200px;
    .footer {
        width: 1200px;
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        color: #999;
    }
}