@import "reset";
@import "base";

.content {
    .page {
        margin-left: 212px;
        border: 1px solid #E0E0E0;
        padding: 40px;
        border-radius: 4px;
        .title {
            border-bottom: 1px dashed #E0E0E0;
            font-size: 24px;
            line-height: 34px;
            color: #292d84;
            position: relative;
            margin-right: 100px;
            .add {
                position: absolute;
                right: -100px;
                top: 0;
                font-size: 14px;
                display: block;
                background: #292d84;
                color: #fff;
                height: 34px;
                padding: 0 20px;
                border-radius: 4px;
            }
        }
        .productList {
            margin-top: 20px;
            .productTitle {
                border: 1px solid #eee;
                th {
                    //border: 1px solid #eee;
                    padding: 6px;
                    text-align: center;
                    font-size: 13px;
                    box-sizing: border-box;
                }
                .id {
                    width: 93px;
                }
                .image {
                    width: 103px;
                }
                .name {
                    width: 212px;
                    text-align: left;
                }
                .categories {
                    width: 158px;
                    text-align: left;
                }
                .price {
                    width: 132px;
                    text-align: right;
                }
                .stock {
                    width: 112px;
                }
                .operate {
                    width: 92px;
                }
            }
            .productItem {
                border: 1px solid #eee;
                td {
                    //border: 1px solid #eee;
                    padding: 6px;
                }
                .productId {
                    width: 80px;
                    text-align: center;
                }
                .productImg {
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .productName {
                    width: 200px;
                    font-size: 14px;
                }
                .class {
                    width: 146px;
                    font-size: 14px;
                }
                .price {
                    width: 120px;
                    text-align: right;
                    font-size: 16px;
                    color: red;
                }
                .stock {
                    width: 100px;
                    text-align: center;
                }
                .operate{
                    text-align: center;
                    .del {
                        background: url(../imgs/delx.png) center no-repeat;
                        background-size: contain;
                        display: inline-block;
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .more {
                text-align: center;
                margin-top: 10px;
                height: 40px;
                position: relative;
                .showMore{
                    cursor: pointer;
                    display: inline-block;
                    padding: 10px 40px;
                    font-size: 14px;
                    text-align: center;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    &.hidden {
                        display: none;
                    }
                    .down {
                        border: 1px solid #000;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        transform: rotate(-45deg) translate(6px, 2px);
                    }
                }
            }
        }
    }
}
