@import "reset";
@import "base";

.content {
    .page {
        overflow: hidden;
        margin-left: 212px;
        border: 1px solid #E0E0E0;
        padding: 40px;
        border-radius: 4px;
        .title {
            border-bottom: 1px solid #E0E0E0;
            font-size: 24px;
            line-height: 34px;
            color: #292d84;
        }
        .orderMain {
            border-bottom: 2px solid #aaa;
            height: 36px;
            .orderTab {
                float: left;
                padding: 10px 15px;
                margin-bottom: -2px;
                border-bottom: 2px solid transparent;
                cursor: pointer;
                font-weight: 700;
                &.active {
                    border-color: blue;
                    color: blue;
                }
                &:hover {
                    color: blue;
                }
            }
        }
        .filter {
            margin: 14px 0;
            .inputItems {
                float: left;
            }
            .search {
                input {
                    float: left;
                    height: 20px;
                    font-size: 14px;
                    padding: 2px 4px;
                    border: 1px solid #bfbfbf;
                }
                .searchBtn {
                    width: 40px;
                    height: 26px;
                    background: url(../imgs/head_icon/search.png) no-repeat center;
                    margin-left: -1px;
                    font-size: 0;
                    cursor: pointer;
                }
                .moreFilter {
                    font-size: 13px;
                    line-height: 26px;
                    margin-left: 20px;
                    float: left;
                    cursor: pointer;
                    user-select: none;
                    .down {
                        border: 1px solid #000;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        transform: rotate(-45deg) translate(4px, 0);
                    }
                    .lessText {
                        display: none;
                    }
                    &.less {
                        .down {
                            transform: rotate(135deg) translate(0, -4px);
                        }
                        .lessText {
                            display: inline-block;
                        }
                        .moreText {
                            display: none;
                        }
                    }
                }
            }
            .timeSub {
                display: none;
                .searchBtn {
                    background: #292d84;
                    border: none;
                    color: #fff;
                    border-radius: 4px;
                    padding: 6px 10px;
                    cursor: pointer;
                }
            }
            .time {
                margin: 15px 0;
                font-size: 14px;
            }
            .timeSelect {
                height: 26px;
                font-size: 14px;
                border: 1px solid #bfbfbf;
                float: left;
                padding-left: 4px;
            }
            .detailTime {
                margin-left: 10px;
                font-size: 13px;
                display: none;
                float: left;
            }
            .selectTime {
                width: 120px;
                height: 20px;
                font-size: 14px;
                padding: 2px 4px;
                border: 1px solid #bfbfbf;
            }
        }
        .orderList {
            margin: 14px 0;
            color: #3c3c3c;
            .orderTable {
                width: 100%;
                th {
                    text-align: center;
                    background: #f5f5f5;
                    padding: 5px 0;
                }
                colgroup {
                    .col1 {
                        width: 36%;
                    }
                    .col2 {
                        width: 12%;
                    }
                    .col3 {
                        width: 8%;
                    }
                    .col4 {
                        width: 14%;
                    }
                    .col5 {
                        width: 16%;
                    }
                    .col6 {
                        width: 14%;
                    }
                }
                .orderTh {
                    border: 1px solid #e5e5e5;
                }
                .orderItem {
                    border: 1px solid #e5e5e5;
                    .mr20 {
                        height: 20px;
                    }
                    .orderHeader {
                        font-size: 12px;
                        background: #f5f5f5;
                        line-height: 36px;
                        height: 36px;
                        border: 1px solid #e5e5e5;
                        &>td>span {
                            float: left;
                        }
                        .orderTime {
                            padding: 0 14px;
                            color: #000;
                        }
                        .orderId {
                            margin-right: 20px;
                            width: 220px;
                            display: inline-block;
                        }
                        .shopName {
                            a {
                                display: block;
                                width: 200px;
                                color: #3c3c3c;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                &:hover {
                                    color: blue;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .orderData {
                        font-size: 14px;
                        margin: 20px 0;
                        td {
                            padding: 10px 0;
                            text-align: center;
                            vertical-align: top;
                        }
                        .product {
                            text-align: left;
                            font-size: 12px;
                            border-bottom: 1px solid #e5e5e5;
                            .productLink {
                                display: block;
                                margin-left: 96px;
                                color: #3c3c3c;
                                &:hover {
                                    color: blue;
                                    text-decoration: underline;
                                }
                                img {
                                    margin-left: -86px;
                                    float: left;
                                    width: 80px;
                                    height: 80px;
                                }
                            }
                        }
                        .price {
                            border-bottom: 1px solid #e5e5e5;
                        }
                        .amount {
                            border-right: 1px solid #e5e5e5;
                            border-bottom: 1px solid #e5e5e5;
                        }
                        .totalPrice {
                            color: red;
                            border-right: 1px solid #e5e5e5;
                        }
                        .status {
                            border-right: 1px solid #e5e5e5;
                            &>div {
                                line-height: 30px;
                            }
                            .orderDetail {
                                a{
                                    color: #3c3c3c;
                                    &:hover {
                                        color: blue;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .operate{
                            &>div {
                                margin: 10px;
                                cursor: pointer;
                                line-height: 22px;
                                color: #3c3c3c;
                                &:hover {
                                    color: blue;
                                }
                            }
                            .comment {
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            .payNow, .confirmR, .alreadyDelivered {
                                color: #292d84;
                                line-height: 30px;
                                border: 1px solid #292d84;
                                border-radius: 4px;
                                &:hover {
                                    background: #292d84;
                                    color: #fff;
                                }
                            }
                            .confirmR, .alreadyDelivered {
                                line-height: 18px;
                                padding: 4px 0;
                            }
                        }
                    }
                }
            }
            .more {
                text-align: center;
                margin-top: 10px;
                height: 40px;
                position: relative;
                .showMore{
                    cursor: pointer;
                    display: inline-block;
                    padding: 10px 40px;
                    font-size: 14px;
                    text-align: center;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    &.hidden {
                        display: none;
                    }
                    .down {
                        border: 1px solid #000;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        transform: rotate(-45deg) translate(6px, 2px);
                    }
                }
            }
        }
    }
}

.deliverPop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
    .shadow {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .title {
        border-bottom: 1px solid #E0E0E0;
        font-size: 24px;
        line-height: 34px;
        color: #292d84;
    }
    .deliverForm {
        padding: 20px 40px;
        width: 500px;
        margin: 120px auto;
        background: #fff;
        position: relative;
        border-radius: 4px;
        .close {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 5px;
            cursor: pointer;
            background-image: url(../imgs/close.png);
            &:hover {
                background-image: url(../imgs/close_hover.png);
            }
        }
    }
    .input-item {
        margin: 20px 0;
        label {
            display: inline-block;
            width: 100px;
            font-size: 14px;
        }
        input, select {
            width: 180px;
            height: 30px;
            font-size: 14px;
            padding: 0 5px;
            border: 1px solid #aaa;
            option {
                padding: 2px 5px;
            }
            &:focus {
                border-color: #4349C5;
                box-shadow: 0 0 10px #4349C5;
            }
        }
        select {
            width: 240px;
        }
        .tips {
            font-size: 14px;
            color: red;
            display: none;
        }
        &.error {
            input {
                border-color: red;
            }
            .tips {
                display: inline-block;
            }
        }
    }
    .submit {
        padding-left: 140px;
        margin: 20px 0;
        input[type=submit] {
            width: 120px;
            height: 40px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            background: #292d84;
            color: #fff;
            &.disabled{
                background: #DCDEE3;
                color: #999;
            }
        }
        .cancel {
            width: 100px;
            height: 40px;
            margin-left: 20px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #292d84;
            color: #292d84;
            background: #fff;
            /*&:hover {
                background: #292d84;
                color: #fff;
            }*/
            &.disabled{
                background: #DCDEE3;
                color: #999;
            }
        }
    }
}