@import "reset";
@import "base";

.content {
    width: 906px;
    margin: 40px auto;
    .title {
        border-bottom: 1px dashed #E0E0E0;
        font-size: 18px;
        line-height: 34px;
    }
    .addressDiv {
        padding: 20px;
    }
    .addressList {
        color: #666;
        .addressItem {
            line-height: 32px;
            border: 1px solid transparent;
            cursor: pointer;
            font-size: 14px;
            margin: 4px 0;
            &.active {
                border-color: #f40;
                background: #fff0e8;
            }
            &:hover {
                background: #fff0e8;
            }
            label {
                display: block;
                padding: 0 20px;
                cursor: pointer;
            }
            input[type=radio]{
                height: 16px;
                width: 16px;
                vertical-align: -16%;
            }
        }
    }
    .addAddress {
        color: #e17100;
        border: 1px solid #e17100;
        background: #fff;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
        padding: 6px;
        margin: 14px 0;
    }
    .orderList {
        margin: 20px 0;
        color: #3c3c3c;
        .orderTable {
            width: 100%;
            th {
                text-align: center;
                padding: 5px 0;
                border-bottom: 2px solid #292d84;
            }
            colgroup {
                .col1 {
                    width: 44%;
                }
                .col2 {
                    width: 20%;
                }
                .col3 {
                    width: 16%;
                }
                .col4 {
                    width: 20%;
                }
            }
            .orderTh {
                .totalPrice {
                    padding-right: 10px;
                    text-align: right;
                }
            }
            .orderItem {
                .mr20 {
                    height: 25px;
                }
                .orderHeader {
                    font-size: 14px;
                    line-height: 20px;
                    .shopName {
                        a {
                            vertical-align: middle;
                            display: inline-block;
                            width: 200px;
                            color: #3c3c3c;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            &:hover {
                                color: blue;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .orderData {
                    border-top: 1px dashed #E0E0E0;
                    border-bottom: 1px dashed #E0E0E0;
                    font-size: 14px;
                    margin: 20px 0;
                    td {
                        padding: 10px 0;
                        text-align: center;
                        vertical-align: top;
                    }
                    .product {
                        text-align: left;
                        font-size: 12px;
                        .productLink {
                            display: block;
                            margin-left: 96px;
                            color: #3c3c3c;
                            &:hover {
                                color: blue;
                                text-decoration: underline;
                            }
                            img {
                                margin-left: -86px;
                                float: left;
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }
                    .totalPrice {
                        padding-right: 10px;
                        color: red;
                        text-align: right;
                    }
                }
            }
        }
        .more {
            text-align: center;
            margin-top: 10px;
            height: 40px;
            position: relative;
            .showMore{
                cursor: pointer;
                display: inline-block;
                padding: 10px 40px;
                font-size: 14px;
                text-align: center;
                border: 1px solid #ddd;
                border-radius: 4px;
                &.hidden {
                    display: none;
                }
                .down {
                    border: 1px solid #000;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    transform: rotate(-45deg) translate(6px, 2px);
                }
            }
        }
        .orderSubmit {
            margin-top: 20px;
            margin-bottom: 40px;
            float: right;
            text-align: right;
            display: none;
            .amount {
                padding: 0 10px;
                .key {
                    font-size: 14px;
                    color: #333;
                    font-weight: bold;
                }
                .hk {
                    font-size: 24px;
                    color: #999;
                }
                .price {
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 50px;
                    color: red;
                }
            }
            .receiver {
                font-size: 14px;
                padding: 0 10px;
                margin-bottom: 10px;
                .key {
                    color: #333;
                    font-weight: bold;
                }
            }
            .orderOperate {
                padding: 0 10px;
                width: 360px;
                float: right;
                a{
                    padding: 10px 20px;
                    color: #fff;
                    display: inline-block;
                    background: #292d84;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }
}

.redStar {
    position: relative;
    &:before {
        content: "*";
        color: red;
        position: absolute;
        left: -0.8em;
    }
}

.modifyPop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
    .shadow {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .modifyAddress {
        padding: 20px 20px 20px 100px;
        width: 686px;
        margin: 20px auto;
        background: #fff;
        position: relative;
        border-radius: 4px;
        .close {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 5px;
            cursor: pointer;
            background-image: url(../imgs/close.png);
            &:hover {
                background-image: url(../imgs/close_hover.png);
            }
        }
    }
    .title {
        border-bottom: 1px solid #E0E0E0;
        font-size: 24px;
        line-height: 34px;
        color: #292d84;
    }
    .input-item {
        margin: 20px 0;
        label {
            display: inline-block;
            width: 120px;
            font-size: 14px;
        }
        input {
            width: 230px;
            height: 30px;
            font-size: 14px;
            padding: 0 5px;
            border: 1px solid #aaa;
        }
        select {
            height: 30px;
            width: 240px;
        }
        .tips {
            font-size: 14px;
            color: red;
            display: none;
        }
        &.error {
            input {
                border-color: red;
            }
            .tips {
                display: inline-block;
            }
        }
    }
    .submit {
        padding-left: 180px;
        margin-top: 40px;
        input {
            width: 120px;
            height: 40px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            background: #292d84;
            color: #fff;
        }
    }
}