@import "reset";

body {
    padding-top: 100px;
    min-width: 1200px;
}

// 头部
header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #292d84;
    color: #fff;
    z-index: 9999;
    min-width: 1200px;
}

.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    .menu{
        width: 75px;
        float: left;
        height: 100px;
        cursor: pointer;
        position: relative;
        i {
            display: block;
            height: 30px;
            margin-top: 24px;
            background: url("../imgs/head_icon/hamburger.png") no-repeat center;
            background-size: contain;
        }
        span {
            display: block;
            padding-top: 12px;
            font-size: 12px;
            text-align: center;
        }
        .menuList {
            display: none;
            background-color: rgba(41, 45, 132, 0.9);
            font-size: 14px;
            color: #fff;
            position: absolute;
            top: 100px;
            left: 0;
            width: 240px;
            padding: 10px 0;
            li {
                line-height: 32px;
                padding: 0 12px;
            }
            li:hover {
                background: #fff;
                color: #292d84;
            }
        }
    }
    .logo{
        float: left;
        a {
            display: block;
            line-height: 100px;
            font-size: 0;
        }
        img {
            width: 278px;
            vertical-align: middle;
        }
    }
    .search {
        float: left;
        height: 100px;
        margin-left: 40px;
        font-size: 18px;
        .search-input{
            height: 40px;
            width: 400px;
            border-radius: 20px;
            padding-left: 20px;
            margin-top: 30px;
            background: #fff;
            input {
                font-size: 16px;
                border: none;
                height: 100%;
                width: 340px;
                padding: 0;
                float: left;
            }
            span {
                float: left;
                color: #292d84;
                width: 60px;;
                height: 100%;
                cursor: pointer;
                background: url(../imgs/head_icon/search.png) center no-repeat;
                background-size: 20px 20px;
            }
        }
    }
    .quick-menu {
        float: right;
        font-size: 12px;
        &>li {
            float: left;
            width: 75px;
            &>a {
                color: #fff;
                display: block;
                height: 76px;
                padding-top: 24px;
            }
            i{
                display: block;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            span {
                display: block;
                padding-top: 12px;
                text-align: center;
            }
        }
        .seller-center {
            width: 90px;
            a {
                padding-top: 18px;
            }
            i{
                height: 40px;
                background-image: url("../imgs/head_icon/sellercenter.png");
            }
            span {
                padding-top: 8px;
            }
        }
        .account {
            position: relative;
            i{
                background-image: url("../imgs/head_icon/account.png");
            }
            .accountOperate {
                position: absolute;
                display: none;
                width: 115px;
                top: 100px;
                left: 0;
                padding: 10px 0;
                background: rgba(#292d84, 0.9);
                a {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    line-height: 32px;
                    padding: 0 10px;
                }
                li:hover {
                    a{
                        background: #fff;
                        color: #292d84;
                    }
                }
            }
            &:hover {
                .accountOperate.active {
                    display: block;
                }
            }
        }
        .favorites {
            i {
                background-image: url("../imgs/head_icon/Favorites.png");
            }
        }
        .my-cart {
            i {
                background-image: url("../imgs/head_icon/CART.png");
                position: relative;
                .count {
                    position: absolute;
                    background: red;
                    display: block;
                    padding: 0 5px;
                    line-height: 14px;
                    border-radius: 7px;
                    text-align: center;
                    right: 10px;
                    top: -6px;
                    font-size: 10px;
                }
            }
        }
    }
}


.content {
    min-height: 400px;
}


footer {
    border-top: 5px solid #292d84;
    height: 70px;
    .footer {
        width: 1200px;
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        color: #999;
    }
}