@import "reset";

body {
	padding-top: 100px;
	min-width: 1200px;
}

// 头部
header {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	background-color: #292d84;
	color: #fff;
	z-index: 9999;
	min-width: 1200px;
}

.header {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	.menu{
		width: 75px;
		float: left;
		height: 100px;
		cursor: pointer;
		position: relative;
		i {
			display: block;
			height: 30px;
			margin-top: 24px;
			background: url("../imgs/head_icon/hamburger.png") no-repeat center;
			background-size: contain;
		}
		span {
			display: block;
			padding-top: 12px;
			font-size: 12px;
			text-align: center;
		}
		.menuList {
			display: none;
			background-color: rgba(41, 45, 132, 0.9);
			font-size: 14px;
			color: #fff;
			position: absolute;
			top: 100px;
			left: 0;
			width: 240px;
			padding: 10px 0;
			li {
				line-height: 32px;
				padding: 0 12px;
			}
			li:hover {
				background: #fff;
				color: #292d84;
			}
		}
	}
	.logo{
		float: left;
		a {
			display: inline-block;
			height: 100px;
			width: 278px;
			background: url("../imgs/head_icon/logo.png") no-repeat center;
			background-size: contain;
		}
	}
	.search {
		float: left;
		height: 100px;
		margin-left: 40px;
		font-size: 18px;
		.search-input{
			height: 40px;
			width: 400px;
			border-radius: 20px;
			padding-left: 20px;
			margin-top: 30px;
			background: #fff;
			input {
				font-size: 16px;
				border: none;
				height: 100%;
				width: 340px;
				padding: 0;
				float: left;
			}
			span {
				float: left;
				color: #292d84;
				width: 60px;;
				height: 100%;
				cursor: pointer;
				background: url(../imgs/head_icon/search.png) center no-repeat;
				background-size: 20px 20px;
			}
		}
	}
	.quick-menu {
		float: right;
		font-size: 12px;
		&>li {
			float: left;
			width: 75px;
			&>a {
				color: #fff;
                display: block;
                height: 76px;
                padding-top: 24px;
			}
			i{
				display: block;
				height: 30px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
			span {
				display: block;
				padding-top: 12px;
				text-align: center;
			}
		}
		.seller-center {
			width: 90px;
            a {
                padding-top: 18px;
            }
			i{
				height: 40px;
				background-image: url("../imgs/head_icon/sellercenter.png");
			}
			span {
				padding-top: 8px;
			}
		}
		.account {
			position: relative;
			i{
				background-image: url("../imgs/head_icon/account.png");
			}
            .accountOperate {
                position: absolute;
                display: none;
                width: 115px;
                top: 100px;
                left: 0;
                padding: 10px 0;
                background: rgba(#292d84, 0.9);
                a {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    line-height: 32px;
                    padding: 0 10px;
                }
                li:hover {
                    a{
                        background: #fff;
                        color: #292d84;
                    }
                }
            }
            &:hover {
                .accountOperate.active {
                    display: block;
                }
            }
		}
		.favorites {
			i {
				background-image: url("../imgs/head_icon/Favorites.png");
			}
		}
		.my-cart {
			i {
				background-image: url("../imgs/head_icon/CART.png");
                position: relative;
				.count {
					position: absolute;
					background: red;
					display: block;
					padding: 0 5px;
                    line-height: 14px;
					border-radius: 7px;
                    text-align: center;
                    right: 10px;
                    top: -6px;
                    font-size: 10px;
				}
			}
		}
	}
}


//店铺广告
.ad-store {
	height: 400px;
	width: 1200px;
	margin: 20px auto 0;
	overflow: hidden;
	position: relative;
	&:hover {
		.prev, .next {
			display: block;
		}
	}
	.prev, .next{
		height: 60px;
		width: 30px;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		background-color: rgba(41, 45, 132, 0.9);
		z-index: 2;
		display: none;
		cursor: pointer;
		&:after{
			content: "";
			display: block;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 26px;
			height: 24px;
			position: absolute;
			top: 18px;
		}
	}
	.prev {
		left: 0;
		border-radius: 0 30px 30px 0;
		&:after{
			background-image: url("../imgs/prev.png");
			left: -2px;
		}
	}
	.next {
		right: 0;
		border-radius: 30px 0 0 30px;
		&:after{
			background-image: url("../imgs/next.png");
			right: -2px;
		}
	}
	.carousel {
		height: 400px;
		width: 6000px;
		position: absolute;
		left: 0;
		top: 0;
		cursor: pointer;
		li {
			width: 1200px;
			height: 400px;
			float: left;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.spot {
		position: absolute;
		bottom: 30px;
		width: 100%;
		text-align: center;
		li {
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background: #aaa;
			display: inline-block;
			margin: 0 14px;
			cursor: pointer;
			&.active {
				background: #fddb00;
			}
		}
	}
}

//商品广告
.ad-goods {
	width: 1200px;
	height: 770px;
	margin: 40px auto;
	.goods-item {
		float: left;
		width: 220px;
		height: 360px;
		padding: 9px;
		display: block;
		border-radius: 5px;
		border: 1px solid #f1f1f1;
		margin-bottom: 10px;
		&:hover {
			border: 1px solid #aaa;
		}
	}
	.item-detail {
		cursor: pointer;
	}
	.item-image {
		width: 200px;
		height: 200px;
		padding: 10px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.item-name {
		font-size: 14px;
		text-align: center;
		padding: 0 10px;
		height: 40px;
		line-height: 20px;
		overflow: hidden;
        text-overflow: ellipsis;
	}
    .item-size {
        font-size: 12px;
        line-height: 20px;
		height: 20px;
        text-align: center;
        color: #999;
        text-overflow: ellipsis;
    }
	.item-prices {
		font-size: 18px;
		color: red;
		text-align: center;
		line-height: 40px;
		height: 40px;
		overflow: hidden;
	}
	.add-to-cart, .add-to-favorites {
		height: 40px;
		width: 100px;
		color: #fff;
		background: #292d84;
		float: left;
		border-radius: 4px;
		cursor: pointer;
		i {
			display: block;
			height: 20px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin: 3px 0;
		}
		span {
			display: block;
			font-size: 20px;
			text-align: center;
			width: 200%;
			transform:scale(0.5);
			transform-origin: 0 0;
		}
	}
	.add-to-cart {
		margin-right: 20px;
		i {
			background-image: url("../imgs/head_icon/CART.png");
		}
	}
	.add-to-favorites {
		i {
			background-image: url("../imgs/head_icon/Favorites.png");
		}
	}
}

footer {
	border-top: 5px solid #292d84;
	height: 70px;
	.footer {
		width: 1200px;
		line-height: 70px;
		margin: 0 auto;
		text-align: center;
		color: #999;
	}
}