@import "reset";
@import "base";

//店铺广告
.ad-store {
	height: 400px;
	width: 1200px;
	margin: 20px auto 0;
	overflow: hidden;
	position: relative;
	&:hover {
		.prev, .next {
			display: block;
		}
	}
	.prev, .next{
		height: 60px;
		width: 30px;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		background-color: rgba(41, 45, 132, 0.9);
		z-index: 2;
		display: none;
		cursor: pointer;
		&:after{
			content: "";
			display: block;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 26px;
			height: 24px;
			position: absolute;
			top: 18px;
		}
	}
	.prev {
		left: 0;
		border-radius: 0 30px 30px 0;
		&:after{
			background-image: url("../imgs/prev.png");
			left: -2px;
		}
	}
	.next {
		right: 0;
		border-radius: 30px 0 0 30px;
		&:after{
			background-image: url("../imgs/next.png");
			right: -2px;
		}
	}
	.carousel {
		height: 400px;
		position: absolute;
		left: 0;
		top: 0;
		cursor: pointer;
		li {
			width: 1200px;
			height: 400px;
			float: left;
			&>a {
				font-size: 0;
			}
			img {
				width: 1200px;
				height: 400px;
			}
		}
	}
	.spot {
		position: absolute;
		bottom: 30px;
		width: 100%;
		text-align: center;
		li {
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background: #aaa;
			display: inline-block;
			margin: 0 14px;
			cursor: pointer;
			&.active {
				background: #fddb00;
			}
		}
	}
}

//商品广告
.ad-goods {
	width: 1200px;
	margin: 40px auto;
	.goods-item {
		float: left;
		width: 220px;
		padding: 9px;
		display: block;
		border-radius: 5px;
		border: 1px solid #f1f1f1;
		margin-bottom: 10px;
		&:hover {
			border: 1px solid #aaa;
		}
	}
	.item-detail {
		cursor: pointer;
		color: #444;
	}
	.item-image {
		width: 200px;
		height: 200px;
		padding: 10px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.item-name {
		font-size: 14px;
		text-align: center;
		padding: 0 10px;
		height: 40px;
		line-height: 20px;
		overflow: hidden;
        text-overflow: ellipsis;
	}
    .item-size {
        font-size: 12px;
        line-height: 20px;
		height: 20px;
        text-align: center;
        color: #999;
        text-overflow: ellipsis;
    }
	.item-prices {
		font-size: 18px;
		color: red;
		text-align: center;
		line-height: 40px;
		height: 40px;
		overflow: hidden;
	}
	.add-to-cart, .add-to-favorites {
		height: 40px;
		width: 100px;
		color: #fff;
		background: #292d84;
		float: left;
		border-radius: 4px;
		cursor: pointer;
		i {
			display: block;
			height: 20px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin: 3px 0;
		}
		span {
			display: block;
			font-size: 20px;
			text-align: center;
			width: 200%;
			transform:scale(0.5);
			transform-origin: 0 0;
		}
	}
	.add-to-cart {
		margin-right: 20px;
		i {
			background-image: url("../imgs/head_icon/CART.png");
		}
	}
	.add-to-favorites {
		i {
			background-image: url("../imgs/head_icon/Favorites.png");
		}
	}
}