@import "reset";

body {
    padding: 100px 0 75px;
    min-height: 100%;
    min-width: 1200px;
    box-sizing: border-box;
    position: relative; 
}

input.disabled {
    cursor: not-allowed !important; 
}

.redStar {
    position: relative; 
}


header {
    position: fixed;
    width: 100%;
    min-width: 1200px;
    height: 100px;
    top: 0;
    background-color: #292d84;
    color: #fff;
    z-index: 9999; 
}

.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    .logo{
        float: left;
        a {
            display: block;
            line-height: 100px;
            font-size: 0;
        }
        img {
            width: 278px;
            vertical-align: middle;
        }
    }
}

.content {
    width: 1200px;
    margin: 20px auto;
    .apply {
        margin: 50px 120px 0 240px;
        display: block;
        .title {
            border-bottom: 1px solid #E0E0E0;
            font-size: 24px;
            line-height: 34px;
            width: 300px;
        }
        .input-item {
            margin: 20px 0;
            label {
                display: inline-block;
                width: 120px;
                font-size: 14px;
            }
            input {
                width: 290px;
                height: 30px;
                font-size: 14px;
                padding: 0 5px;
                border: 1px solid #aaa;
            }
            select {
                height: 30px;
            }
        }
        .submit {
            padding-left: 180px;
            margin: 10px 0;
            input[type=submit] {
                width: 120px;
                height: 40px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background: #292d84;
                color: #fff;
                &.disabled{
                    background: #DCDEE3;
                    color: #999;
                }
            }
        }
        .login {
            font-size: 16px;
            color: red;
            width: 290px;
            height: 20px;
            text-align: center;
        }
    }
}

footer {
    border-top: 5px solid #292d84;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1200px;
    .footer {
        width: 1200px;
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        color: #999;
    }
}