@import "reset";
@import "base";

.content {
    min-height: 420px;
    margin: 20px auto;
    width: 1000px;
    .storeHeader {
        height: 60px;
        margin-top: 30px;
        .storeInfo {
            float: left;
            margin-top: 15px;
            .shopName {
                width: 200px;
                font-size: 30px;
                float: left;
            }
            .detail {
                font-size: 15px;
                float: right;
                color: darkgrey;
                line-height: 20px;
            }
        }
        .storeSearch {
            background-color: #e6e6e6;
            float: right;
            height: 30px;
            width: 320px;
            padding-left: 20px;
            margin-top: 20px;
            input {
                background-color: #e6e6e6;
                font-size: 16px;
                border: none;
                height: 100%;
                width: 280px;
                padding: 0;
                float: left;
            }
            span {
                float: left;
                color: #292d84;
                width: 20px;;
                height: 100%;
                cursor: pointer;
                background: url(../imgs/head_icon/search.png) center no-repeat;
                background-size: 20px 20px;
            }
        }
    }

    .storeMenu{
        height: 30px;
        margin: 20px auto;
        background-color: #292d84;
        .menuBar {
            float: left;
            margin-left: 0;
            width: 210px;
            height: 30px;
            background-color: darkblue;
            color: #fff;
            cursor: pointer;
            span {
                display: block;
                font-size: 12px;
                text-align: left;
                line-height: 30px;
                margin-left: 12px;
            }
            &:hover {
                .menuList {
                    display: block;
                }
            }
            .menuList {
                display: none;
                background-color: rgba(0, 0, 139, 0.8);
                font-size: 12px;
                color: #fff;
                position: relative;
                top: 0;
                left: 0;
                width: 210px;
                padding: 10px 0;
                li {
                    line-height: 32px;
                    padding: 0 12px;
                }
                li:hover {
                    background: #fff;
                    color: darkblue;
                }
            }
        }
    }
    .product {
        display: none;
    }
    .productForm {
        padding-left: 40px;
    }
    .productImages {
        float: left;
        padding: 20px;
        .bigImage {
            img {
                width: 300px;
                height: 300px;
            }
        }
        .smallImages {
            .sImage {
                float: left;
                border: 2px solid transparent;
                cursor: pointer;
                font-size: 0;
                margin: 4px 10px;
                &.active {
                    border-color: #292d84;
                }
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    .productInfo {
        float: left;
        margin-left: 60px;
        .productName {
            font-size: 16px;
            line-height: 24px;
            color: #333;
            padding: 16px 0 10px;
            min-height: 3em;
        }
        .price {
            font-size: 32px;
            color: red;
            font-weight: bold;
        }
        .quantity {
            font-size: 14px;
        }
        .quantityOp {
            display: inline-block;
            margin: 40px 0;
            vertical-align: middle;
            .minus {
                width: 18px;
                height: 18px;
                vertical-align: middle;
                cursor: pointer;
                float: left;
                background: url(../imgs/minus.png) 0 0 no-repeat;
                &.disabled {
                    cursor: not-allowed;
                    background: url(../imgs/minus.png) 0 -18px no-repeat;
                }
            }
            .plus {
                width: 18px;
                height: 18px;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                float: left;
                background: url(../imgs/plus.png) 0 0 no-repeat;
                &.disabled {
                    cursor: not-allowed;
                    background: url(../imgs/plus.png) 0 -18px no-repeat;
                }
            }
            .num {
                width: 32px;
                height: 16px;
                border: 1px solid #ccc;
                font-size: 12px;
                float: left;
                padding: 0 2px;
                text-align: center;
                margin: 0 4px;
            }
            .stockText {
                float: left;
                color: #999;
                margin-left: 4px;
                line-height: 18px;
            }
        }
        .buyNow {
            margin-top: 40px;
            a{
                padding: 10px 20px;
                color: #fff;
                display: inline-block;
                background: #292d84;
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
            }
        }
        .otherOp {
            margin: 10px 0;
            a {
                font-size: 14px;
                color: #292d84;
                padding: 10px 20px;
                border: 1px solid #292d84;
                display: inline-block;
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
            }
        }
    }
    .reviews {
        padding: 50px 0;
        .reviewTitle {
            border-bottom: 1px solid #E0E0E0;
            font-size: 20px;
            line-height: 30px;
            color: #484848;
        }
        .reviewList {
            margin: 20px;
            font-size: 14px;
            color: #333;
        }
    }
}