@import "reset";
@import "base";

.content {
    min-height: 420px;
    margin: 20px auto;
    width: 1000px;
    .shop {
        line-height: 50px;
        border-bottom: 1px solid #eee;
        .shopKey {
            color: #000;
        }
        .shopValue {
            color: #666;
            &:hover {
                text-decoration: underline;
                color: #292d84;
            }
        }
    }
    .product {
        display: none;
    }
    .productImages {
        float: left;
        padding: 20px;
        .bigImage {
            img {
                width: 300px;
                height: 300px;
            }
        }
        .smallImages {
            .sImage {
                float: left;
                border: 2px solid transparent;
                cursor: pointer;
                font-size: 0;
                margin: 4px 10px;
                &.active {
                    border-color: #292d84;
                }
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    .productInfo {
        float: left;
        .productName {
            font-size: 16px;
            line-height: 24px;
            color: #333;
            padding: 16px 0 10px;
            min-height: 3em;
        }
        .price {
            font-size: 32px;
            color: red;
            font-weight: bold;
        }
        .quantity {
            font-size: 14px;
        }
        .quantityOp {
            display: inline-block;
            margin: 20px 0;
            vertical-align: middle;
            .minus {
                width: 18px;
                height: 18px;
                vertical-align: middle;
                cursor: pointer;
                float: left;
                background: url(../imgs/minus.png) 0 0 no-repeat;
                &.disabled {
                    cursor: not-allowed;
                    background: url(../imgs/minus.png) 0 -18px no-repeat;
                }
            }
            .plus {
                width: 18px;
                height: 18px;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                float: left;
                background: url(../imgs/plus.png) 0 0 no-repeat;
                &.disabled {
                    cursor: not-allowed;
                    background: url(../imgs/plus.png) 0 -18px no-repeat;
                }
            }
            .num {
                width: 32px;
                height: 16px;
                border: 1px solid #ccc;
                font-size: 12px;
                float: left;
                padding: 0 2px;
                text-align: center;
                margin: 0 4px;
            }
            .stockText {
                float: left;
                color: #999;
                margin-left: 4px;
                line-height: 18px;
            }
        }
        .buyNow {
            margin-top: 40px;
            a{
                padding: 10px 20px;
                color: #fff;
                display: inline-block;
                background: #292d84;
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
            }
        }
        .otherOp {
            margin: 10px 0;
            a {
                font-size: 14px;
                color: #292d84;
                padding: 10px 20px;
                border: 1px solid #292d84;
                display: inline-block;
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
            }
        }
    }
    .reviews {
        padding: 50px 0;
        .reviewTitle {
            border-bottom: 1px solid #E0E0E0;
            font-size: 20px;
            line-height: 30px;
            color: #484848;
        }
        .reviewList {
            margin: 20px;
            font-size: 14px;
            color: #333;
        }
    }
}