@import "reset";

body {
    padding: 74px 0 75px;
    min-height: 100%;
    min-width: 1200px;
    box-sizing: border-box;
    position: relative;
}

font {
    font-size: 18px;
}

select {
    width: 240px;
}

input.disabled {
    cursor: not-allowed !important; }

.redStar {
    position: relative;
    &:before {
        content: "*";
        color: red;
        position: absolute;
        left: -0.8em;
    }
}

header {
    position: fixed;
    width: 100%;
    min-width: 1200px;
    height: 74px;
    top: 0;
    background-color: #292d84;
    color: #fff;
    z-index: 9999; 
}

.header {
    width: 1200px;
    height: 74px;
    margin: 0 auto;
    .logo{
        float: left;
        a {
            display: block;
            line-height: 74px;
            font-size: 0;
        }
        img {
            //width: 278px;
            height: 50px;
            vertical-align: middle;
        }
    }
}

.content {
    width: 1200px;
    margin: 20px auto;
    .apply {
        margin: 50px 120px 0 240px;
        display: block;
        .title {
            border-bottom: 1px solid #E0E0E0;
            font-size: 24px;
            line-height: 34px;
        }
        .input-item {
            margin: 20px 0;
            label {
                display: inline-block;
                width: 120px;
                font-size: 14px;
            }
            input {
                width: 230px;
                height: 30px;
                font-size: 14px;
                padding: 0 5px;
                border: 1px solid #aaa;
            }
            select {
                height: 30px;
            }
            .tips {
                font-size: 14px;
                color: red;
                display: none;
            }
            &.error {
                input {
                    border-color: red;
                }
                .tips {
                    display: inline-block;
                }
            }
        }
        .submit {
            padding-left: 180px;
            margin: 10px 0;
            input[type=submit] {
                width: 120px;
                height: 40px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background: #292d84;
                color: #fff;
                &.disabled{
                    background: #DCDEE3;
                    color: #999;
                }
            }
        }
        .register {
          font-size: 16px;
          color: red;
          height:20px;
        }
    }
}

footer {
    border-top: 5px solid #292d84;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 1200px;
    .footer {
        width: 1200px;
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        color: #999;
    }
}