@import "reset";
@import "base";


.content {
  min-height: 400px;
}

.ad-goods {
  width: 1200px;
  margin: 40px auto;
  .tips {
    font-size: 20px;
    color: grey;
  }
  .hr {
    border-bottom: grey 1px dashed;
    overflow: hidden;
    height: 1px;
  }
  .goods-item {
    float: left;
    width: 220px;
    padding: 9px;
    display: block;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #aaa;
    }
  }
  .item-detail {
    cursor: pointer;
    color: #444;
  }
  .item-image {
    width: 200px;
    height: 200px;
    padding: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .item-name {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item-size {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    color: #999;
    text-overflow: ellipsis;
  }
  .item-prices {
    font-size: 18px;
    color: red;
    text-align: center;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
  }
  .add-to-cart, .add-to-favorites {
    height: 40px;
    width: 100px;
    color: #fff;
    background: #292d84;
    float: left;
    border-radius: 4px;
    cursor: pointer;
    i {
      display: block;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 3px 0;
    }
    span {
      display: block;
      font-size: 20px;
      text-align: center;
      width: 200%;
      transform:scale(0.5);
      transform-origin: 0 0;
    }
  }
  .add-to-cart {
    margin-right: 20px;
    i {
      background-image: url("../imgs/head_icon/CART.png");
    }
  }
  .add-to-favorites {
    i {
      background-image: url("../imgs/head_icon/Favorites.png");
    }
  }
}

.noResult {
  text-align: center;
  margin: 80px auto;
  color: grey;
  display: none;
}

.showMore {
  text-align: center;
  margin: 40px auto;
  display: none;
  input[type=button] {
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #292d84;
    color: #fff;
    &.disabled{
      background: #DCDEE3;
      color: #999;
    }
  }
}