@import "reset";
@import "base";

.content {
    min-height: 400px;
    width: 1200px;
    margin: 40px auto;
    .nav {
        width: 200px;
        border: 1px solid #EEE;
        float: left;
        margin-right: 20px;
        border-radius: 2px;
        .title {
            font-size: 14px;
            line-height: 40px;
            background: #f7f7f7;
            padding-left: 10px;
            border-bottom: 1px solid #EEEEEE;
        }
        .category {
            font-size: 14px;
            &:not(:last-child) {
                border-bottom: 1px solid #EEE;
            }
            &.active {
                a:link, a:hover, a:active, a:visited {
                    border-left: 4px solid #4078c0;
                }
            }
            a {
                color: #4078c0;
                padding: 10px;
                font-size: 13px;
                line-height: 16px;
                display: block;
            }
            a:hover{
                background: #f9f9f9;
            }
        }
    }
    .page {
        margin-left: 222px;
        border: 1px solid #E0E0E0;
        padding: 40px;
        border-radius: 4px;
        .infoForm {
            padding-left: 100px;
            margin-right: 120px;
        }
        .title {
            border-bottom: 1px solid #E0E0E0;
            font-size: 24px;
            line-height: 34px;
            color: #292d84;
        }
        .input-item {
            margin: 20px 0;
            label {
                display: inline-block;
                width: 120px;
                font-size: 14px;
            }
            input {
                width: 230px;
                height: 30px;
                font-size: 14px;
                padding: 0 5px;
                border: 1px solid #aaa;
            }
            select {
                height: 30px;
                width: 240px;
            }
            .tips {
                font-size: 14px;
                color: red;
                display: none;
            }
            &.error {
                input {
                    border-color: red;
                }
                .tips {
                    display: inline-block;
                }
            }
        }
        .submit {
            padding-left: 180px;
            margin-top: 40px;
            input[type=button] {
                width: 120px;
                height: 40px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background: #292d84;
                color: #fff;
            }
        }
    }
}