html{
    height: 100%;
}
body {
    background: #F8F8F8;
    min-width: 1200px;
    height: 100%;
    min-height:100%;
}
.nav {
    float: left;
    background: #2F3847;
    width: 240px;
    height: 100%;
    position: relative;
    z-index: 100;
    .navList {
        border-bottom: 1px solid #666;
        a {
            display: block;
            line-height: 40px;
            color: white;
            padding-left: 20px;
        }
        &:first-child {
            border-top: 1px solid #666;
            margin-top: 75px;
        }
        &:hover {
            a {
                color: #ffb800;
            }
        }
        &.active {
            a {
                background: gray;
                color: #fff;
            }
        }
    }
}

.content {
    overflow: auto;
    height: 100%;
    position: relative;
    header {
        background: #292d84;
        height: 75px;
        padding-left: 50px;
        .logo {
            float: left;
            a {
                display: block;
                line-height: 75px;
                font-size: 0;
                img {
                    vertical-align: middle;
                    height: 50px;
                }
            }
        }
        .logout {
            float: right;
            line-height: 75px;
            margin-right: 50px;
            cursor: pointer;
            color: #fff;
            span {
                line-height: 30px;
                padding: 8px 15px;
                border-radius: 6px;
                &:hover {
                    background: #367fa9;
                }
            }
        }
    }
    .main {

    }
}
