@import "reset";

body {
    min-width: 1200px;
}

// 头部
header {
    height: 100px;
    background-color: #292d84;
    color: #fff;
    z-index: 9999;
    position: relative;
}

.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    .logo{
        float: left;
        a {
            display: block;
            line-height: 100px;
            font-size: 0;
        }
        img {
            width: 278px;
            vertical-align: middle;
        }
    }
    .quick-menu {
        float: right;
        font-size: 12px;
        &>li {
            float: left;
            width: 75px;
            &>a {
                color: #fff;
                display: block;
                height: 76px;
                padding-top: 24px;
            }
            i{
                display: block;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            span {
                display: block;
                padding-top: 12px;
                text-align: center;
            }
        }
        .account {
            position: relative;
            i{
                background-image: url("../imgs/head_icon/account.png");
            }
            .accountOperate {
                position: absolute;
                display: none;
                width: 115px;
                top: 100px;
                left: 0;
                padding: 10px 0;
                background: rgba(#292d84, 0.9);
                a {
                    display: block;
                    color: #fff;
                    font-size: 14px;
                    line-height: 32px;
                    padding: 0 10px;
                }
                li:hover {
                    a{
                        background: #fff;
                        color: #292d84;
                    }
                }
            }
            &:hover {
                .accountOperate.active {
                    display: block;
                }
            }
        }
    }
}

.content {
    width: 1200px;
    margin: 50px auto;
    .nav {
        width: 250px;
        border: 1px solid #E0E0E0;
        float: left;
        margin-right:20px;
        box-shadow: 2px 2px 5px #E0E0E0;
        border-radius: 2px;
        
        .category {
            height:70px;
            padding: 10px 10px;
            &:not(:last-child) {
                border-bottom: 1px solid #E0E0E0;
            }
        }
        .title {
            font-size: 20px;
            line-height: 70px;
            font-weight: bold;
        }
        .navList {
            font-size: 12px;
            line-height: 26px;
        }
        a {
            color: #444;
            font-size: 13px;
        }
        a:hover, a:active, a:visited {
            text-decoration: underline;
        }
    }
    
}

footer {
    border-top: 5px solid #292d84;
    height: 70px;
    .footer {
        width: 1200px;
        line-height: 70px;
        margin: 0 auto;
        text-align: center;
        color: #999;
    }
}