@import "reset";
@import "base";

.main {
    padding: 20px 27px;
    .title {
        border-bottom: 1px solid #E0E0E0;
        font-size: 24px;
        line-height: 34px;
    }

    .customerMain {
        border-bottom: 2px solid #aaa;
        .customerTab {
            float: left;
            padding: 10px 15px;
            margin-bottom: -2px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            font-weight: 700;
            color: #333;
            &.active {
                border-color: blue;
                color: blue;
            }
            &:hover {
                color: blue;
            }
        }
    }

    .customerList {
        margin: 20px 0;
        .customerTable {
            width: 100%;
            colgroup {
                .col1 {
                    width: 8%;
                }
                .col2 {
                    width: 14%;
                }
                .col3 {
                    width: 10%;
                }
                .col4 {
                    width: 20%;
                }
                .col5 {
                    width: 10%;
                }
                .col6 {
                    width: 14%;
                }
                .col7 {
                    width: 10%;
                }
                .col8 {
                    width: 14%;
                }
            }
            tr {
                border: 1px solid #e5e5e5;
            }
            .customerTh {
                th {
                    text-align: center;
                    background: #f5f5f5;
                    padding: 5px 10px;
                }
            }
            .customerItem {
                font-size: 14px;
                &:nth-child(even){
                    background: #fff;
                }
                td {
                    padding: 10px 10px;
                    text-align: center;
                    word-wrap: break-word;
                }
                .blackList, .del {
                    user-select: none;
                    cursor: pointer;
                    color: #292d84;
                    line-height: 30px;
                    border: 1px solid #292d84;
                    border-radius: 4px;
                    width: 124px;
                    display: block;
                    text-align: center;
                    margin: 5px 0;
                    &:hover {
                        background: #292d84;
                        color: #fff;
                    }
                }
            }
        }
        .more {
            text-align: center;
            margin-top: 10px;
            height: 40px;
            position: relative;
            .showMore{
                cursor: pointer;
                display: inline-block;
                padding: 10px 40px;
                font-size: 14px;
                text-align: center;
                border: 1px solid #ddd;
                border-radius: 4px;
                &.hidden {
                    display: none;
                }
                .down {
                    border: 1px solid #000;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    transform: rotate(-45deg) translate(6px, 2px);
                }
            }
        }
    }

    .more {
        text-align: center;
        margin-top: 10px;
        height: 40px;
        position: relative;
        .showMore{
            cursor: pointer;
            display: inline-block;
            padding: 10px 40px;
            font-size: 14px;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 4px;
            &.hidden {
                display: none;
            }
            .down {
                border: 1px solid #000;
                border-top-color: transparent;
                border-right-color: transparent;
                width: 10px;
                height: 10px;
                display: inline-block;
                transform: rotate(-45deg) translate(6px, 2px);
            }
        }
    }
}