@import "reset";
@import "base";

.main {
    padding: 20px 27px;
    .limitTime {
        display: none;
        padding: 10px 10px;
        background: #f5f5f5;
        text-align: right;
        .text {
            font-size: 14px;
            color: #666;
        }
        .time {
            color: red;
            font-size: 20px;
        }
        .edit {
            color: #E17101;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .showMain {
        border-bottom: 2px solid #aaa;
        height: 36px;
        .showTab {
            float: left;
            padding: 10px 15px;
            margin-bottom: -2px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            font-weight: 700;
            color: #000;
            &.active {
                border-color: blue;
                color: blue;
            }
            &:hover {
                color: blue;
            }
        }
    }
    .showList {
        margin: 20px 0;
        color: #3c3c3c;
        .showTable {
            width: 100%;
            th {
                text-align: center;
                background: #f5f5f5;
                padding: 5px 0;
            }
            colgroup {
                .col1 {
                    width: 34%;
                }
                .col2 {
                    width: 10%;
                }
                .col3 {
                    width: 12%;
                }
                .col4 {
                    width: 14%;
                }
                .col5 {
                    width: 16%;
                }
                .col6 {
                    width: 16%;
                }
            }
            .showTh {
                border: 1px solid #e5e5e5;
            }
            .showItem {
                border: 1px solid #e5e5e5;
                .mr20 {
                    height: 20px;
                }
                .showHeader {
                    font-size: 12px;
                    background: #f5f5f5;
                    line-height: 36px;
                    height: 36px;
                    border: 1px solid #e5e5e5;
                    &>td>span {
                        float: left;
                    }
                    .showTime {
                        padding: 0 14px;
                        color: #000;
                    }
                    .showId {
                        margin-right: 20px;
                        width: 220px;
                        display: inline-block;
                    }
                    .shopName {
                        a {
                            display: block;
                            width: 200px;
                            color: #3c3c3c;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            &:hover {
                                color: blue;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .showData {
                    font-size: 14px;
                    margin: 20px 0;
                    td {
                        padding: 10px 0;
                        text-align: center;
                        vertical-align: top;
                    }
                    .product {
                        .pictureLink {
                            display: inline-block;
                            img {
                                width: 300px;
                                height: 100px;
                            }
                        }
                    }
                    .price {
                        color: red;
                    }
                    .status {
                        font-size: 13px;
                    }
                    .operate{
                        &>div {
                            margin: 10px;
                            cursor: pointer;
                            line-height: 22px;
                            color: #3c3c3c;
                            &:hover {
                                color: blue;
                            }
                        }
                        .comment {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .approve {
                            color: #292d84;
                            line-height: 30px;
                            border: 1px solid #292d84;
                            border-radius: 4px;
                            user-select: none;
                            &:hover {
                                background: #292d84;
                                color: #fff;
                            }
                        }
                        .confirmR {
                            line-height: 18px;
                            padding: 4px 0;
                        }
                        .timeTips {
                            font-size: 13px;
                            text-align: left;
                            line-height: 1;
                            margin-bottom: -5px;
                            color: #666;
                            &:hover {
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
        .more {
            text-align: center;
            margin-top: 10px;
            height: 40px;
            position: relative;
            .showMore{
                cursor: pointer;
                display: inline-block;
                padding: 10px 40px;
                font-size: 14px;
                text-align: center;
                border: 1px solid #ddd;
                border-radius: 4px;
                &.hidden {
                    display: none;
                }
                .down {
                    border: 1px solid #000;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    transform: rotate(-45deg) translate(6px, 2px);
                }
            }
        }
    }
}

.limitPop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    .shadow {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .title {
        border-bottom: 1px solid #E0E0E0;
        font-size: 24px;
        line-height: 34px;
        color: #292d84;
    }
    .limitForm {
        padding: 20px 60px;
        width: 500px;
        margin: 120px auto;
        background: #fff;
        position: relative;
        border-radius: 4px;
        .close {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 10px;
            top: 5px;
            cursor: pointer;
            background-image: url(../imgs/close.png);
            &:hover {
                background-image: url(../imgs/close_hover.png);
            }
        }
    }
    .input-item {
        margin: 20px 0;
        label {
            display: inline-block;
            width: 104px;
            font-size: 14px;
        }
        input, select {
            width: 180px;
            height: 30px;
            font-size: 20px;
            padding: 0 5px;
            border: 1px solid #aaa;
            option {
                padding: 2px 5px;
            }
            &:focus {
                border-color: #4349C5;
                box-shadow: 0 0 10px #4349C5;
            }
        }
        .tips {
            font-size: 14px;
            color: red;
            display: none;
            line-height: 30px;
            padding-left: 10px;
        }
        &.error {
            input {
                border-color: red;
            }
            .tips {
                display: inline-block;
            }
        }
    }
    .submit {
        padding-left: 140px;
        margin: 20px 0;
        input[type=submit] {
            width: 120px;
            height: 40px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            background: #292d84;
            color: #fff;
            &.disabled{
                background: #DCDEE3;
                color: #999;
            }
        }
        .cancel {
            width: 100px;
            height: 40px;
            margin-left: 20px;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #292d84;
            color: #292d84;
            background: #fff;
            /*&:hover {
                background: #292d84;
                color: #fff;
            }*/
            &.disabled{
                background: #DCDEE3;
                color: #999;
            }
        }
    }
}