@import "reset";
@import "base";

.main {
    padding: 20px 27px;
    .title {
        border-bottom: 1px solid #E0E0E0;
        font-size: 24px;
        line-height: 34px;
    }

    .shopMain {
        border-bottom: 2px solid #aaa;
        .shopTab {
            float: left;
            padding: 10px 15px;
            margin-bottom: -2px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            font-weight: 700;
            color: #333;
            &.active {
                border-color: blue;
                color: blue;
            }
            &:hover {
                color: blue;
            }
        }
    }
    .filter {
        margin: 14px 0;
        .inputItems {
            float: left;
        }
        .search {
            input {
                float: left;
                height: 20px;
                font-size: 14px;
                padding: 2px 4px;
                border: 1px solid #bfbfbf;
            }
            .searchBtn {
                width: 40px;
                height: 26px;
                background: url(../imgs/head_icon/search.png) no-repeat center;
                margin-left: -1px;
                font-size: 0;
                cursor: pointer;
            }
        }
    }
    .shopList {
        margin: 20px 0;
        .shopItem {
            border: 1px solid #e5e5e5;
            padding: 20px;
            margin: 10px auto;
            .photo {
                float: left;
                width: 140px;
                height: 140px;
                margin-right: 20px;
                line-height: 140px;
                font-size: 0;
                text-align: center;
                img {
                    height: 100%;
                    vertical-align: middle;
                }
            }
            .info {
                float: left;
                max-width: 600px;
                .infoItem {
                    line-height: 30px;
                }
            }
            .operate {
                float: right;
                .blackList, .del, .removeBlack {
                    user-select: none;
                    cursor: pointer;
                    color: #292d84;
                    padding: 8px 0;
                    border: 1px solid #292d84;
                    border-radius: 4px;
                    width: 124px;
                    display: block;
                    text-align: center;
                    margin: 5px 0;
                    &:hover {
                        background: #292d84;
                        color: #fff;
                    }
                }
            }
        }
    }
    .more {
        text-align: center;
        margin-top: 10px;
        height: 40px;
        position: relative;
        .showMore{
            cursor: pointer;
            display: inline-block;
            padding: 10px 40px;
            font-size: 14px;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 4px;
            &.hidden {
                display: none;
            }
            .down {
                border: 1px solid #000;
                border-top-color: transparent;
                border-right-color: transparent;
                width: 10px;
                height: 10px;
                display: inline-block;
                transform: rotate(-45deg) translate(6px, 2px);
            }
        }
    }
}