@import "emoji";

@keyframes move {
	0%{
		margin-top: 80px;
	}
	25%{
		margin-top: 100px;
	}
	50%{
		margin-top: 120px;
	}
	75%{
		margin-top: 100px;
	}
	100%{
		margin-top: 80px;
	}
}
.demo{
	font-size: 40px;
	text-align: center;
	margin-top: 80px;
	animation: move linear 3s infinite;
}

$list: $e_01, $e_02, $e_03, $e_04, $e_05, $e_06, $e_07, $e_08, $e_09, $e_10, $e_11;

.sprite li{
	@for $i from 1 through 11 {
		&:nth-child(#{$i}){
			@include sprite(nth($list, $i));
			background-image: url(../imgs/emoji.png);
		}
	}
	list-style: none;
}